<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/orange.css" />
  </head>
  <body>
    <div id="container">
      <div id="content">
        {% if success %}
        <h1>Submission has been updated.</h1>
        {% endif %}
        <h1>{{ appname }}</h1>
        <div class="hi-message">Hi, {{ name }}!</div>
        <h3>Subscriptions:</h3>
        <form method="post" action="/">
          {% for area, flg in account.areas.items()|sort  %}
          <div class="area">
            {% if flg %}
            <input type="checkbox" name="{{ area }}" value="1" id="{{ area }}" checked="checked">
            {% else %}
            <input type="checkbox" name="{{ area }}" value="1" id="{{ area }}">
            {% endif %}
            <label for="{{ area }}">{{ area }}</label>
            <a href="http://arxiv.org/list/{{area}}/recent">(arXiv Link)</a>
          </div>
          {% endfor %}
          <div class="submit-area">
            <input type="submit" value="submit"/>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
{% endautoescape %}
